header{
    height: 70px;
    width: 100%;
    background-color: #01033E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.left-header-content{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    justify-content: space-between;
}

.title{
    color: rgb(250, 250, 250);
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
}

.title:hover{
    color: #e77044;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    background-color: rgb(31, 197, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.1);
    background-color: #e77044;
}

.nav {
    margin-right: 40px;
}

.nav ul li  {
    list-style: none;
    text-decoration: none;

}
 .nav ul {
    display: flex;
    margin-right: 20px;
    gap: 20px;
 }


.nav ul li a {
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.nav ul li a:hover {
    color: #e77044;
}